# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.vercel

# Env
.env
.env.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Drizzle
drizzle/meta/

# Misc
*.log
npm-debug.log*
